@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ece7d2;
  /* --foreground: #322d2d; */
  --foreground: #313628;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-color: #ece7d2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.08' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  font-family: 'Georgia', serif;
  font-size: large;
  font-weight: 500;
}

h1, h2, h3 {
    color: #313628;
}

a {
    color: #234350;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}